*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh sans', sans-serif;

}

.navbar{
    background: #ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: solid;
    border-width: 5;
   border-color: #000000;

}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 2560px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo {
    background-color: rgb(50, 50, 196);
    background-image: linear-gradient(to top, #7976af 0%, #494981 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.fa-archway {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #2b265c;
    color: #fff;
}

.button:hover {
    background: rgb(68, 63, 109);
    transition: all 0.3s ease;

}

.navbar__links:hover {
    color: rgb(61, 72, 116);
    transition: all 0.3s ease;
    
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        font-size: 1.6rem;

    }


    #navbar__logo {
        padding-left: 25px;

    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;

    }

    .navbar__item {
        width: 100%;

    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;

    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/*hero section*/

.main {
    background-color: #454076;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #454076;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 0%, #d0cfdc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.description h5 {
    font-size: 4rem;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 0%, #bbbabd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    font-size: 3rem;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 0%, #a4a3b5 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__btn {
    font-size: 1rem;
    background-image: transparent;
    background-color: transparent;
    padding: 14px 32px;
    border-radius: 4px;
    color: transparent;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;

    border: solid;
    border-color: rgb(255, 255, 255);
}


.main__btn a{
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;   
    width: 0;
    height: 100%;
    background: #7463c2;
    transition: all 0.5s;
    border-radius: 4px;

}


.main__btn:hover {
    color: seashell;
}

.main__btn:hover:after {
    width: 100%;
}

.main_img--container {
    text-align: right;
    height: 60em;
    background-size: 100em;
    padding-left: 2rem;

}


#main__img {
    height: 90%;
    width: 90%;
    padding-left: 2rem;

}

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2{
        font-size: 3rem;

    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2{
        font-size: 2rem;

    }

    .main__content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}


/* services section */

.services{
    background: #454076;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.services h1 {
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 0%, #b3b3b3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    
    background-size: cover;
    position: relative;
    color: #fff;

    border-style: solid;
    border-color: white;
    border-radius: 1ch;

}

.services__card__second {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    
    background-size: cover;
    position: relative;
    color: #fff;

    border-style: solid;
    border-color: white;
    border-radius: 1ch;

}

.services__card:nth-child(2) {
    
    background-size: cover;
    position: relative;
    color: #fff;
    border-style: solid;
    border-color: white;
    border-radius: 1ch;

}
.services__card__second h2 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 80px;
}

.services__card__second p {
    position: absolute;
    top: 40px;
    left: 30px;
}

.services__card__second button {
    position: relative;
    top: -30px;
    left: 150px;
    align-items: center;
    font-size: 1rem;
    background-image: linear-gradient(to top, #48417f 0%, #e8e6f3 100%);
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.services__card h2 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 80px;
}

.services__card p {
    position: absolute;
    top: 40px;
    left: 30px;
}

.services__card button {
    position: relative;
    top: -30px;
    left: 130px;
    align-items: center;
    font-size: 1rem;
    background-image: linear-gradient(to top, #48417f 0%, #e8e6f3 100%);
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
}



.services__card:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in;
    cursor: pointer;
}

.services__card__second:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in;
    cursor: pointer;
    
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }
}

/* footer */

.footer__container {
    background-color: #454076;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, #7976af 0%, #494981 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2 rem;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}


.footer__links--wrapper {
    display: flex;
}


.footer__links--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__links--items h2 {
    margin-bottom: 16px;
}

.footer__links--items > h2 {
    color: #7373a9;
}

.footer__links--items h3 {
    margin-bottom: 16px;
}

.footer__links--items > h3 {
    color: rgb(255, 255, 255);
}


.footer__links--items a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__links--items a:hover {
    color: #000000;
    transition: 0.3s ease-out;

}

/* social icons */

.social__icons--link {
    color: rgb(255, 252, 252);
    font-size: 30px;
    
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;

}

.footer__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__right {
    color: #fff;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__right {
        margin-bottom: 2rem;
    }

    .footer__links--wrapper {
        flex-direction: column;

    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}


.description p {
    font-size: 2rem;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
    background-color: #beb8ff;
    background-image: linear-gradient(to top, #ffffff 0%, #cbc7fa 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    border-style: solid;
    border-radius: 1cm;
    border-color: white;
    
}


.main__container__signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 69vh;
    background-color: #454076;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 464px;
}


.container_signup {
    justify-self: center;
    border-radius: 6px;
    padding: 50px 40px;
    background: #7D79AD;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 420px;
    width: 350px;
    box-shadow: -3px -4px 12px #838383, 7px 9px 25px #838383;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.form-item-username {
    margin: 5px;
    display: flex;
    padding-bottom: 10px;
}

.form-item-username input {
    width: 150px;
    margin: 0 5px;
    height: 30px;
    border: 1.5px solid #000000;
    border-radius: 5px;
    background: #d6d6d6;
    color: rgb(0, 0, 0);
    text-align: center;
    outline: none;
    font-size: 15px;
}

.form-item {
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.form-item input {
    margin: 5px;
    width: 100%;
    height: 30px;
    border: 1.5px solid #000000;
    border-radius: 5px;
    background: #d6d6d6;
    color: rgb(0, 0, 0);
    text-align: center;
    outline: none;
    font-size: 15px;
}

.accept-box {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 15px;
}

a {
    color: rgb(255, 255, 255);
}

a:hover {
    color: grey
}

.form-btns {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form-btns button {
    margin: auto;
    font-size: 20px;
    padding: 8px;
    width: 280px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(75, 61, 61);
    background-image: linear-gradient(to top, #463e8d 0%, #6e61fa 100%);
    
}

.form-btns button:disabled {
    cursor: not-allowed;
    background: #ffffff !important;
    color: rgb(0, 0, 0) !important;
}

.form-btns button:hover {
    background: #6e61fa;
    color: antiquewhite;
}

.options {
    padding-top: 15px;
    margin: auto;
    font-size: 13px;
}

p {
    font-size: 12px;
}

.pwd-format {
    position: relative;
    color: rgb(65, 62, 62);
    background: rgb(243, 234, 243);
    font-size: 11px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    top: 110px;
    right: -81px;
    z-index: 3;
    display: none;
}

.leadfinder-container{
    align-items: center;
    justify-self: center;
    height: 70vh;
    background-color: #454076;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
    
}



.leadfinder-search-bar input{
    position: absolute;
    top: 150px;
    
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1000px;
    height: 40px;
    border: 1.5px solid #000000;
    border-radius: 5px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    outline: none;
    font-size: 15px;
    

}


#map{
    height: 60%;
    width: 30%;
    position: absolute;
    top: 250px;
    
    justify-self: center;
    align-self: center;
    border-radius: 15px;
}
 
  
  
.find_lead{
    font-size: 1rem;
    background-image: transparent;
    background-color: transparent;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: transparent;
    margin-top: 42rem;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    left: 290px;
    border: solid;
    border-color: rgb(255, 255, 255);
}

.find_lead p{
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.find_lead:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;   
    width: 0;
    height: 100%;
    background: #7463c2;
    transition: all 0.5s;
    border-radius: 4px;
    

}

.find_lead:hover {
    color: rgb(255, 255, 255);
}

.find_lead:hover:after {
    width: 100%;
}


.form-group input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }

/***************************************************
 * Generated by SVG Artista on 4/1/2022, 4:01:35 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 /***************************************************
 * Generated by SVG Artista on 4/1/2022, 4:07:20 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  }
  
  svg.active .svg-elem-1 {
    fill: pink;
  }
  
  svg .svg-elem-2 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
  }
  
  svg.active .svg-elem-2 {
    fill: rgb(230, 230, 230);
  }
  
  svg .svg-elem-3 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
  }
  
  svg.active .svg-elem-3 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-4 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
  }
  
  svg.active .svg-elem-4 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-5 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
  }
  
  svg.active .svg-elem-5 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-6 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
  }
  
  svg.active .svg-elem-6 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-7 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
  }
  
  svg.active .svg-elem-7 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-8 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
  }
  
  svg.active .svg-elem-8 {
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-9 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
  }
  
  svg.active .svg-elem-9 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-10 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
  }
  
  svg.active .svg-elem-10 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-11 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
  }
  
  svg.active .svg-elem-11 {
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-12 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
  }
  
  svg.active .svg-elem-12 {
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-13 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
  }
  
  svg.active .svg-elem-13 {
    fill: rgb(230, 230, 230);
  }
  
  svg .svg-elem-14 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
  }
  
  svg.active .svg-elem-14 {
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-15 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
  }
  
  svg.active .svg-elem-15 {
    fill: rgb(230, 230, 230);
  }
  
  svg .svg-elem-16 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
  }
  
  svg.active .svg-elem-16 {
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-17 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
  }
  
  svg.active .svg-elem-17 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-18 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
  }
  
  svg.active .svg-elem-18 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-19 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
  }
  
  svg.active .svg-elem-19 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-20 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
  }
  
  svg.active .svg-elem-20 {
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-21 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
  }
  
  svg.active .svg-elem-21 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-22 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
  }
  
  svg.active .svg-elem-22 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-23 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
  }
  
  svg.active .svg-elem-23 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-24 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
  }
  
  svg.active .svg-elem-24 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-25 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
  }
  
  svg.active .svg-elem-25 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-26 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
  }
  
  svg.active .svg-elem-26 {
    fill: rgb(63, 61, 86);
  }
  
  svg .svg-elem-27 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
  }
  
  svg.active .svg-elem-27 {
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-28 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
  }
  
  svg.active .svg-elem-28 {
    fill: rgb(255, 255, 255);
  }
  
  svg .svg-elem-29 {
    fill: transparent;
    -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
            transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
  }
  
  svg.active .svg-elem-29 {
    fill: rgb(255, 255, 255);
  }


  
  
  

